@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Outfit:wght@400;700&display=swap');

.container{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d5e1ef;
}

.codigo-qr{
    background-color: #fff;
    width: 380px;
    height: 620px;
    border-radius: 5%;
}

.alinhamento{
    padding: 10px;

}

.code{
    width: 100%;
    border-radius: 5%;
}

.titulo{
    text-align: center;
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    color: #213152;
    padding: 8%;
    font-weight: 700;
}

.sub-titulo{
    text-align: center;
    color: #9b9fa8;
    padding: 0 15%;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    
}